/*!
* Design by: Hyper6.com
* URI: http://www.hyper6.com/
* Year: 2017
* Coder: v28 , Chris
*
* timestamp: 11th - 08 - 2017
*/

/*!
* Normalize
*/
html{line-height: 1.15;-webkit-text-size-adjust: 100%;}body{margin: 0;}h1{font-size: 2em;margin: 0.67em 0;}hr{box-sizing: content-box;height: 0;overflow: visible;}pre{font-family: monospace, monospace;font-size: 1em;}a{background-color: transparent;}abbr[title]{border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}b,strong{font-weight: bolder;}code,kbd,samp{font-family: monospace, monospace;font-size: 1em;}small{font-size: 80%;}sub,sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}sub{bottom: -0.25em;}sup{top: -0.5em;}img{border-style: none;}button,input,optgroup,select,textarea{font-family: inherit;font-size: 100%;line-height: 1.15;margin: 0;}button,input{overflow: visible;}button,select{text-transform: none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style: none;padding: 0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline: 1px dotted ButtonText;}fieldset{padding: 0.35em 0.75em 0.625em;}legend{box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}progress{vertical-align: baseline;}textarea{overflow: auto;}[type="checkbox"],[type="radio"]{box-sizing: border-box;padding: 0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height: auto;}[type="search"]{-webkit-appearance: textfield;outline-offset: -2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}::-webkit-file-upload-button{-webkit-appearance: button;font: inherit;}details{display: block;}summary{display: list-item;}template{display: none;}[hidden]{display: none;}


/*! ==========================================================================
   CUSTOM CSS BEGINNING
*/

/* ==========================================================================
   Old alert
   ========================================================================== */
div.alert-old {
   text-align: center;
   padding: 25px;
   font-size: 20px;
   color: #777;
   background-color: black;
   color: #f0f0f0;
   position: relative;
   top: 0px;
   left: 0px;
   width: 100%;
   z-index: 9999999;
}
div.alert-old a {
   color: white;
   text-decoration: underline;
   font-weight: bold;
}
div.alert-old a:hover {
   color: orange;
}



/* ==========================================================================
   General CSS
   ========================================================================== */
body {
   cursor: default;
   font-family: 'Roboto', sans-serif;
   background-color: #eaedf2;
}
::selection {
   background: #0054ff;
   color: white;
}
::-webkit-selection {
   background: #0054ff;
   color: white;
}
::-khtml-selection {
   background: #0054ff;
   color: white;
}
::-moz-selection {
   background: #0054ff;
   color: white;
}
::-wap-selection {
   background: #0054ff;
   color: white;
}
::-ms-selection {
   background: #0054ff;
   color: white;
}
::-o-selection {
   background: #0054ff;
   color: white;
}
.wrapper {
   display: block;
   margin: 0 auto;
   width: 960px;
}
.inl {
   display: inline-block;
   vertical-align: top;
   * display: inline;
   zoom: 1;
}
a,
input,
button,
select,
textarea {
   border: none;
   outline: none;
   background-color: transparent;
}
input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=search],
select,
textarea {
   box-sizing: border-box;
   appearance: none;
}
.clear-box {
   display: block;
   margin: 0px;
   width: 100%;
   clear: both;
}



/* ==========================================================================
   PNG - CSS Icons
   ========================================================================== */
i.ub {
   position: relative;
   background-image: url(../img/css-icons.png);
   background-repeat: no-repeat;
}
i.uicon-1 {
   width: 111px;
   height: 40px;
}
i.uicon-2 {
   width: 77px;
   height: 52px;
   background-position: 0px -50px;
}
i.uicon-3 {
   width: 70px;
   height: 55px;
   background-position: 0px -104px;
}
i.uicon-4 {
   width: 58px;
   height: 70px;
   background-position: 0px -164px;
}
i.uicon-5 {
   width: 62px;
   height: 66px;
   background-position: 0px -235px;
}
i.uicon-6 {
   width: 25px;
   height: 29px;
   background-position: 0px -308px;
}
i.uicon-7 {
   width: 55px;
   height: 57px;
   background-position: 0px -343px;
}
i.uicon-8 {
   width: 61px;
   height: 46px;
   background-position: 0px -404px;
}
i.uicon-9 {
   width: 55px;
   height: 56px;
   background-position: 0px -455px;
}
i.uicon-10 {
   width: 32px;
   height: 60px;
   background-position: 0px -512px;
}
i.uicon-11 {
   width: 54px;
   height: 52px;
   background-position: 0px -576px;
}
i.uicon-12 {
   width: 53px;
   height: 56px;
   background-position: 0px -628px;
}
i.uicon-13 {
   width: 53px;
   height: 56px;
   background-position: 0px -683px;
}
i.uicon-14 {
   width: 66px;
   height: 51px;
   background-position: 0px -738px;
}
i.uicon-15 {
   width: 61px;
   height: 63px;
   background-position: 0px -790px;
}
i.uicon-16 {
   width: 51px;
   height: 52px;
   background-position: 0px -855px;
}
i.uicon-17 {
   width: 52px;
   height: 52px;
   background-position: 0px -909px;
}
i.uicon-18 {
   width: 52px;
   height: 52px;
   background-position: 0px -966px;
}
i.uicon-19 {
   width: 45px;
   height: 27px;
   background-position: -93px -65px;
}
i.uicon-20 {
   width: 45px;
   height: 27px;
   background-position: -93px -97px;
}
i.uicon-21 {
   width: 45px;
   height: 27px;
   background-position: -93px -128px;
}
i.uicon-22 {
   width: 45px;
   height: 27px;
   background-position: -93px -155px;
}
i.uicon-23 {
   width: 51px;
   height: 52px;
   background-position: 0px -1024px;
}
i.uicon-24 {
   width: 17px;
   height: 12px;
   background-position: -120px -16px;
}
i.uicon-25 {
   width: 29px;
   height: 50px;
   background-position: -147px -1px;
}




/* ==========================================================================
   Content
   ========================================================================== */
section#content {
   display: block;
   margin: 0px;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
   outline: 1px solid red;
   box-sizing: border-box;
   overflow: hidden;
}
section#content div.wrapper {
   position: fixed;
   box-sizing: border-box;
   height: 90%;
   width: 96%;
   left: 3%;
   top: 5%;
}
/* 
   Content -> Side Bar
   ========================================================================== */
#sidebar {
   display: block;
   margin: 0px;
   position: absolute;
   text-align: center;
   overflow: hidden;
   left: 0px;
   top: 0px;
   height: 100%;
   width: 15%;
   background-color: rgb(243, 245, 247);
   border-radius: 10px;
   box-shadow: -0.261px 2.989px 14.7px 0.3px rgba(0, 0, 0, 0.09);
}
body.compact #sidebar {
   width: 7.4%;
   transition: 0.2s;
}
#sidebar div.footer {
   display: block;
   position: absolute;
   bottom: 12px;
   left: 0px;
   width: 100%;
   text-align: center;
}
#sidebar div.footer i.uicon-7 {
   transform: scale(0);
   margin: 0 auto;
   display: none;
}
#sidebar div.footer i.uicon-1 {
   margin: 0 auto;
}
body.compact #sidebar div.footer i.uicon-1 {
   transform: scale(0);
   display: none;
}
body.compact #sidebar div.footer i.uicon-7 {
   transform: scale(1);
   transition: 0.3s;
   display: block;
}
#sidebar ul {
   display: block;
   margin: 0px;
   padding: 0px;
}
#sidebar ul li {
   display: block;
   list-style: none;
}
#sidebar ul li button {
   cursor: pointer;
   display: block;
   padding: 23px 0px;
   margin: 0px;
   background-color: transparent;
   border: none;
   width: 100%;
   box-sizing: border-box;
   background-color: transparent;
   transition: 0.2s;
}
#sidebar ul li button::after {
   content: '';
   width: 20%;
   height: 5px;
   background-color: #a7bac3;
   display: block;
   margin: 10px auto 0px;
   border-radius: 25px;
}
#sidebar ul li button i {
   display: block;
   margin: 0 auto;
}
#sidebar ul li button.active {
   background-color: #dde0e5;
}
#sidebar ul li button.active::after {
   * filter: none;
   background: rgb(81,240,72);
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxZjA0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYmM5MzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(top, rgba(81,240,72,1) 0%, rgba(59,201,50,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,240,72,1)), color-stop(100%,rgba(59,201,50,1)));
   background: -webkit-linear-gradient(top, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   background: -o-linear-gradient(top, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   background: -ms-linear-gradient(top, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   background: linear-gradient(to bottom, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51f048', endColorstr='#3bc932',GradientType=0 );
}
#sidebar ul li button span {
   display: block;
   margin: 11px 0px 0 0px;
   font-size: 25px;
   color: #4f5e65;
   font-weight: 500;
}
body.compact #sidebar ul li button span {
   display: none;
}
#sidebar ul li button:hover {
   transition: 0.2s;
   background-color: rgba(0,0,0,0.03);
}
#sidebar ul li button.active:hover {
   transition: 0.2s;
   background-color: #dde0e5;
   opacity: 0.5;
   cursor: default;
}
/* 
   Content -> Right container
   ========================================================================== */
div#right-container {
   display: block;
   margin: 0px;
   padding-right: 30px;
   position: absolute;
   right: 0px;
   top: 0px;
   height: 100%;
   width: 81%;
   overflow-x: scroll;
   text-align: left;
}
body.compact div#right-container {
   width: 57.8%;
   transition: 0.3s;
   right: auto;
   left: 9%;
}
div#white-box-pop {
   transform: scale(0);
   float: right;
   width: 29%;
   height: 430px;
}
body.compact div#white-box-pop {
   transform: scale(1);
   transition: 0.3s;
   right: 1%;
   overflow-y: scroll;
}
div#right-container div.white-box,
div#white-box-pop {
   display: block;
   margin: 0px 0px 30px;
   width: 100%;
   min-height: 200px;
   background-color: white;
   border-radius: 10px;
   box-sizing: border-box;
   box-shadow: -0.261px 2.989px 14.7px 0.3px rgba(0, 0, 0, 0.09);
   color: #4f5e65;
}
div#right-container div.white-box.full-heigh,
body.compact div#white-box-pop.full-heigh {
   min-height: 100%;
}
div#white-box-pop {
   float: right;
   width: 29%;
   position: relative;
   overflow: hidden;
}
div#white-box-pop iframe {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 100%;
}
div#right-container div.white-box.left,
div#right-container div.white-box.right {
   display: inline-block;
   width: 48.5%;
   float: left;
}
div#right-container div.white-box.right {
   float: right;
}
div#right-container div.white-box.cool-bg {
   background-image: url(../img/cool-bg.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
div.white-box.padding-1 {
   padding: 30px 40px 63px 40px;
}
div.white-box.padding-2 {
   padding: 30px 40px;
}
div.white-box div.headline {
   display: block;
   margin: 0px auto 100px;
   border-bottom: 1px solid #dde0e5;
   padding-bottom: 23px;
}
div.white-box div.headline.margin-1 {
   margin: 0px auto 30px;
}
body.compact div.white-box div.headline {
   margin: 0px auto 50px;
}
div.white-box div.headline i.uicon-4 {
   font-size: 25px;
   color: #f6a132;
   line-height: 75px;
   font-weight: bold;
   font-style: normal;
   transform: scale(0.7);
   text-align: center;
   cursor: pointer;
}
div.white-box div.headline i.uicon-5 {
   transform: scale(0.6);
   vertical-align: middle;
   cursor: pointer;
}
div.white-box div.headline strong.title {
   vertical-align: middle;
   font-size: 26px;
   font-weight: 500;
   color: #4f5e65;
}
div.white-box div.headline select.inl {
   font-size: 20px;
   color: #4f5e65;
   padding: 13px 20px;
   width: 25%;
   border-radius: 7px;
   margin: 0px 0px 0px 20px;
   vertical-align: middle;
   border: 1px solid #dedede;
   background: rgb(251,252,252);
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY3ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(top, rgba(251,252,252,1) 0%, rgba(245,247,248,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(251,252,252,1)), color-stop(100%,rgba(245,247,248,1)));
   background: -webkit-linear-gradient(top, rgba(251,252,252,1) 0%,rgba(245,247,248,1) 100%);
   background: -o-linear-gradient(top, rgba(251,252,252,1) 0%,rgba(245,247,248,1) 100%);
   background: -ms-linear-gradient(top, rgba(251,252,252,1) 0%,rgba(245,247,248,1) 100%);
   background: linear-gradient(to bottom, rgba(251,252,252,1) 0%,rgba(245,247,248,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfcfc', endColorstr='#f5f7f8',GradientType=0 );
}
body.compact div.white-box div.headline select.inl {
   width: 39%;
}
div.white-box div.headline i.uicon-4 {
   vertical-align: middle;
   margin: 0px 0px 0px 23px;
   transform: scale(0.6);
}
div.white-box div.headline button.tracking {
   vertical-align: middle;
   font-size: 21px;
   color: #4f5e65;
   font-weight: 500;
   float: right;
   margin: 9px 0px 0px 0px;
   cursor: pointer;
}
div.white-box div.headline button.tracking .uicon-25 {
   transform: scale(0);
   transition: 0.3s;
   display: none;
}
body.compact div.white-box div.headline button.tracking .uicon-23 {
   display: none;
   transform: scale(0);
   transition: 0.3s;
}
body.compact div.white-box div.headline button {
   font-size: 0px;
}
body.compact div.white-box div.headline button.tracking .uicon-25 {
   transform: scale(1);
   transition: 0.3s;
   display: inline-block;
}
div.white-box div.headline button.tracking .inl {
   vertical-align: middle;
}
div.white-box div.headline button.tracking span {
   margin-right: 10px;
}
div.white-box div.headline .date-picker {
   vertical-align: middle;
   font-size: 21px;
   color: #4f5e65;
   font-weight: 500;
   float: right;
   margin: 9px 0px 0px 0px;
}
div.white-box div.headline input[name=data-choose] {
   text-align: right;
   font-weight: bold;
   color: #4f5e65;
}
div#right-container div.white-box h4 {
   margin: 0px 0px 34px 0px;
   font-size: 26px;
   color: #4f5e65;
}
div#right-container div.white-box p {
   line-height: 1.6;
}
/* 
   Content -> Cars container
   ========================================================================== */
div#cars-overview {
   display: block;
   margin: 0px;
   font-size: 0px;
}
div#cars-overview div.car {
   display: block;
   text-align: center;
   color: #4f5e65;
   font-size: 0px;
   padding: 11px 0px;
   line-height: normal;
}
div#cars-overview div.car:after {
   content: '';
   display: block;
   margin: 0px;
   width: 100%;
   clear: both;
}
div#cars-overview > div.car:nth-child(odd) {
   background-color: rgba(221,224,229,0.2);
}
div#cars-overview div.car > div.inl {
   vertical-align: middle;
   min-height: 20px;
   font-size: 16px;
   box-sizing: border-box;
}
div#cars-overview div.car > div.inl:nth-child(1) {
   width: 10%;
}
div#cars-overview div.car > div.inl:nth-child(2) {
   width: 19%;
}
div#cars-overview div.car > div.inl:nth-child(3) {
   width: 25%;
}
div#cars-overview div.car > div.inl:nth-child(4) {
   width: 35%;
}
div#cars-overview div.car > div.inl:nth-child(5) {
   width: 10%;
}
div#cars-overview div.car > div.inl.pic {
   cursor: pointer;
}
div#cars-overview div.car > div.inl.pic img {
   border-radius: 50%;
}
div#cars-overview div.car > div.inl.driver {
   text-align: left;
   padding: 0px 0px 0px 16px;
   cursor: pointer;
}
div#cars-overview div.car > div.inl.driver p {
   line-height: normal;
}
div#cars-overview div.car > div.inl.driver span {
   display: block;
   font-size: 20px;
   opacity: 0.7;
   margin: 4px 0px;
}
div#cars-overview div.car > div.inl.driver strong {
   display: block;
   font-size: 30px;
   font-weight: normal;
   margin: 4px 0px;
}
div#cars-overview div.car > div.inl.driver small {
   display: block;
   font-size: 20px;
   margin: 4px 0px;
   opacity: 0.7;
}
div#cars-overview div.car > div.inl.data-1 {
   text-align: left;
   line-height: 1.6;
}
div#cars-overview div.car > div.inl.graph {
   margin: 0px;
}
div#cars-overview div.notifications i.uicon-4 {
   font-size: 25px;
   color: #f6a132;
   line-height: 75px;
   font-weight: bold;
   font-style: normal;
   transform: scale(0.7);
   text-align: center;
   cursor: pointer;
}
/* 
   Graphics 1
   ========================================================================== */
div#graphics-1 {
   display: block;
   margin: 0px;
   width: 100%;
   vertical-align: middle;
   position: relative;
   text-align: center;
   color: #4f5e65;
}
div#graphics-1 > div.circle-1 {
   margin: 0px;
   vertical-align: middle;
}
div#graphics-1 > div.circle-1 span {
   font-size: 21px;
   display: block;
   margin: 0px 0px 10px;
}
div#graphics-1 > div.circle-1 div.icon {
   margin: 0 auto;
   background-color: #4f5e65;
   display: block;
   border-radius: 50%;
   width: 43px;
   height: 43px;
}
div#graphics-1 > div.circle-1 div.icon i {
   margin: 8px 0px 0px 0px;
   transform: rotate(180deg);
}
div#graphics-1 > div.circle-2 {
   margin: 0px;
   vertical-align: middle;
}
div#graphics-1 > div.circle-2 span {
   font-size: 21px;
   display: block;
   margin: 0px 0px 10px;
}
div#graphics-1 > div.circle-2 div.icon {
   margin: 0 auto;
   display: block;
   border-radius: 50%;
   width: 43px;
   height: 43px;

   background: rgb(81,240,72);
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxZjA0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYmM5MzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(top, rgba(81,240,72,1) 0%, rgba(59,201,50,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,240,72,1)), color-stop(100%,rgba(59,201,50,1)));
   background: -webkit-linear-gradient(top, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   background: -o-linear-gradient(top, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   background: -ms-linear-gradient(top, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   background: linear-gradient(to bottom, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51f048', endColorstr='#3bc932',GradientType=0 );
}
div#graphics-1 > div.circle-2 div.icon i {
   margin: 6px 0px 0px 0px;
}
div#graphics-1 > div.bar-light {
   margin: 33px -8px 0px -4px;
   height: 2px;
   width: 70%;
   background-color: #4f5e65;
   vertical-align: middle;
   text-align: left;
   position: relative;
}
div#graphics-1 > div.bar-light i {
   margin: -11px 0px 0px -40px;
   position: relative;
   overflow-x: hidden;
}div#graphics-1 > div.bar-light div.inner-light {
   height: 3px;
}
div#graphics-1 > div.bar-light.horrifying div.inner-light {
   width: 20%;
   background-color: #f04646;
}
div#graphics-1 > div.bar-light.bad div.inner-light {
   width: 40%;
   background-color: #f08a46;
}
div#graphics-1 > div.bar-light.middle div.inner-light {
   width: 60%;
   background-color: #daed3b;
}
div#graphics-1 > div.bar-light.good div.inner-light {
   width: 90%;
   background-color: #56f046;
}
div#graphics-1 > div.bar-light div.inner-light:before {
   content: '';
   position: absolute;
   left: 0px;
   top: 0px;
   height: 100%;
   width: 90%;
   border-radius: 50%;
   animation-duration: 1s;
   animation-iteration-count: infinite;

   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
   background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1)));
   background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
   background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
   background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
   background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
}
div#graphics-1 > div.bar-light.good div.inner-light:before {
   animation-name: baranimation_good;
}
div#graphics-1 > div.bar-light.middle div.inner-light:before {
   animation-name: baranimation_middle;
}
div#graphics-1 > div.bar-light.bad div.inner-light:before {
   animation-name: baranimation_bad;
}
div#graphics-1 > div.bar-light.horrifying div.inner-light:before {
   animation-name: baranimation_horrifying;
}
@keyframes baranimation_good {
  0%   {width: 0%;opacity: 0;}
  40%  {opacity: 1;}
  60%  {opacity: 1;}
  100% {width: 90%;opacity: 0;}
}
@keyframes baranimation_middle {
  0%   {width: 0%;opacity: 0;}
  40%  {opacity: 1;}
  60%  {opacity: 1;}
  100% {width: 60%;opacity: 0;}
}
@keyframes baranimation_bad {
  0%   {width: 0%;opacity: 0;}
  40%  {opacity: 1;}
  60%  {opacity: 1;}
  100% {width: 40%;opacity: 0;}
}
@keyframes baranimation_horrifying {
  0%   {width: 0%;opacity: 0;}
  40%  {opacity: 1;}
  60%  {opacity: 1;}
  100% {width: 20%;opacity: 0;}
}



/* ==========================================================================
   Driver pic and info
   ========================================================================== */
div#driver-pic {
   margin: 0px;
   vertical-align: middle;
}
body.compact div#driver-pic {
   width: 54%;
}
div#driver-pic img.car {
   border-radius: 50%;
   box-shadow: -1px 5px 14.7px 2px rgba(0, 0, 0, 0.1);
}
body.compact div#driver-pic img.car {
   width: 41%;
   transition: 0.3s;
}
div#driver-pic img.profile {
   border-radius: 50%;
   border: 4px solid white;
   box-shadow: -1px 5px 14.7px 2px rgba(0, 0, 0, 0.2);
   margin: 0px 0px 0px -70px;
}
body.compact div#driver-pic img.profile {
   width: 16%;
}
div#driver-pic p {
   padding: 0px 0px 0px 28px;
   vertical-align: top;
   color: #4f5e65;
   text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
div#driver-pic p span {
   display: block;
   font-size: 30px;
}
div#driver-pic p small {
   display: block;
   font-size: 20px;
   opacity: 0.7;
}
div#speed-info {
   margin: 0px;
   vertical-align: middle;
   color: #4f5e65;
   text-align: center;
   float: right;
}
div#speed-info div.inl {
   vertical-align: middle;
   margin: 0px 70px;
}
body.compact div#speed-info div.inl {
   margin: 0px 0px 0px 40px;
}
div#speed-info p em {
   display: block;
   font-style: normal;
   font-size: 22px;
}
body.compact div#speed-info p em {
   font-size: 18px;
}
div#speed-info p strong {
   display: block;
   font-size: 70px;
}
body.compact div#speed-info p strong {
   font-size: 49px;
}
div#speed-info p small {
   display: block;
   font-size: 22px;
}
div#speed-info > i.inl {
   width: 1px;
   height: 200px;
   background-color: #dde0e5;
   vertical-align: middle;
}
body.compact div#speed-info > i.inl {
   display: none;
}



/* ==========================================================================
   Alerts
   ========================================================================== */
div#alerts-grid {
   display: block;
   margin: 90px 0px;
   text-align: center;
}
div#alerts-grid button {
   margin: 23px;
   cursor: pointer;
   transition: 0.3s;
   transform: scale(1);
}
div#alerts-grid button span {
   display: block;
   margin: 8px 0px;
   font-size: 17px;
   color: #4f5e65;
}
div#alerts-grid button:hover {
   transform: scale(1.1);
   transition: 0.3s;
}
div#alerts-grid button.active {
   opacity: 0.7;
}
div#alerts-grid button.active::before {
   content: '';
   width: 40px;
   display: block;
   margin: 0 auto 10px;
   height: 4px;
   border-radius: 25px;
   * filter: none;
   background: rgb(81,240,72);
   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUxZjA0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYmM5MzIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
   background: -moz-linear-gradient(top, rgba(81,240,72,1) 0%, rgba(59,201,50,1) 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(81,240,72,1)), color-stop(100%,rgba(59,201,50,1)));
   background: -webkit-linear-gradient(top, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   background: -o-linear-gradient(top, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   background: -ms-linear-gradient(top, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   background: linear-gradient(to bottom, rgba(81,240,72,1) 0%,rgba(59,201,50,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51f048', endColorstr='#3bc932',GradientType=0 );
}



/* ==========================================================================
   Historial box
   ========================================================================== */
div#historial-box {
   display: block;
   margin: 0px;
}
div#historial-box p {
   margin: 0px;
   font-size: 0px;
   padding: 20px 20px;
   cursor: pointer;
}
div#historial-box p:nth-child(odd) {
   background-color: #f3f5f7;
}
div#historial-box p > span.inl {
   width: 50%;
   text-align: left;
   font-size: 17px;
}
div#historial-box p > span.inl:nth-child(2) {
   text-align: right;
}
div#historial-box p:hover {
   background-color: rgba(0,0,0,0.06);
}
div#historial-box p.selected {
   background-color: rgba(0,0,0,0.1);
   cursor: default;
}
div#historial-box p.selected iframe {
   margin: 50px 0px 0px 0px;
   display: block;
   width: 100%;
   min-height: 500px;
   clear: both;
}



/* ==========================================================================
   Responsive CSS
   ========================================================================== */
@media screen and (max-width: 1240px) {
.wrapper {
   width: 700px;
}
div#cars-overview div.car {
   position: relative;
   overflow: hidden;
}
div#cars-overview div.car > div.inl:nth-child(1) {
    width: 10%;
    display: block;
    margin: 10px auto 9px;
}
div#cars-overview div.car > div.inl.driver {

    text-align: center;
    padding: 0px 0px 0px 16px;
    cursor: pointer;
    display: block;
    width: 100%;

}
div#cars-overview div.car > div.inl.data-1 {
    text-align: center;
    line-height: 1.6;
}
div#cars-overview div.car > div.inl:nth-child(3) {
    width: 100%;
    display: block;
}
div#cars-overview div.car > div.inl.graph {
    margin: 0px auto;
    display: block;
    width: 90%;
}
div#cars-overview div.car > div.inl:nth-child(5) {
    width: 10%;
    position: absolute;
    top: 20px;
    right: 10px;
}
div#speed-info {
    margin: 40px 0px 0px 0px;
    vertical-align: middle;
    color: #4f5e65;
    text-align: center;
    float: right;
    width: 100%;
}
body.compact div#speed-info {
    margin: 0px;
    vertical-align: middle;
    color: #4f5e65;
    text-align: center;
    float: right;
    width: 42%;
}
body.compact div#right-container div.white-box.left,
body.compact div#right-container div.white-box.right {
    display: inline-block;
    width: 100%;
    float: left;
}
#sidebar ul li:first-child:before {
   display: block;
   content: '';
   width: 40px;
   margin: 0 auto;
   height: 15px;
   background-color: transparent;
   border-top: 3px solid #555;
   border-bottom: 3px solid #555;
   position: relative;
   top: 20px;
}
#sidebar ul li:first-child:after {
   display: block;
   content: '';
   width: 40px;
   margin: -12px auto 0;
   height: 15px;
   background-color: transparent;
   border-top: 3px solid #555;
   position: relative;
   top: 20px;
}
#sidebar ul li button {
   display: none;
}
#sidebar.hover ul li button {
   display: block;
}
#sidebar.hover ul li:first-child:before,
#sidebar.hover ul li:first-child:after {
   display: none;
}
#sidebar {
   width: 6%;
}
#sidebar.hover {
   width: 15%;
   z-index: 999;
}
#sidebar div.footer i.uicon-1 {
   display: none;
}
#sidebar div.footer i.uicon-7 {
   display: block;
   transform: scale(0.8);
}
#sidebar.hover div.footer i.uicon-1 {
   display: block;
}
#sidebar.hover div.footer i.uicon-7 {
   display: none;
   transform: scale(0.8);
}
div#right-container {
   width: 89%;
}
#sidebar.hover + #app-screens:before {
   content: '';
   display: block;
   width: 85%;
   height: 50px;
   background-color: transparent;
   z-index: 999;
   position: relative;
   position: absolute;
   right: 0px;
   top: 0px;
   height: 100%;
}


body.compact #sidebar ul li:first-child:before {
   display: block;
   content: '';
   width: 40px;
   margin: 0 auto;
   height: 15px;
   background-color: transparent;
   border-top: 3px solid #555;
   border-bottom: 3px solid #555;
   position: relative;
   top: 20px;
}
body.compact #sidebar ul li:first-child:after {
   display: block;
   content: '';
   width: 40px;
   margin: -12px auto 0;
   height: 15px;
   background-color: transparent;
   border-top: 3px solid #555;
   position: relative;
   top: 20px;
}
body.compact #sidebar ul li button {
   display: none;
}
body.compact #sidebar.hover ul li button {
   display: block;
}
body.compact #sidebar.hover ul li:first-child:before,
body.compact #sidebar.hover ul li:first-child:after {
   display: none;
}
body.compact #sidebar {
   width: 6%;
}
body.compact #sidebar.hover {
   width: 15%;
   z-index: 999;
}
body.compact #sidebar div.footer i.uicon-1 {
   display: none;
}
body.compact #sidebar div.footer i.uicon-7 {
   display: block;
   transform: scale(0.8);
}
body.compact #sidebar.hover div.footer i.uicon-1 {
   display: block;
   transform: scale(1);
}
body.compact #sidebar.hover div.footer i.uicon-7 {
   display: none;
   transform: scale(0.8);
}
body.compact div#right-container {
   width: 89%;
}
body.compact #sidebar.hover + #app-screens:before {
   content: '';
   display: block;
   width: 85%;
   height: 50px;
   background-color: transparent;
   z-index: 999;
   position: relative;
   position: absolute;
   right: 0px;
   top: 0px;
   height: 100%;
}
body.compact div#right-container {

    width: 56%;

}
body.compact div#white-box-pop {

    transform: scale(1);
    transition: 0.3s;
    right: 1%;
    overflow-y: scroll;
    height: 100%;
    position: absolute;

}
body.compact #sidebar ul li button span {
   display: block;
}
#sidebar {
   overflow-y: scroll;
}
#sidebar ul li button span {

    display: block;
    margin: 11px 0px 0 0px;
    font-size: 17px;
    color: #4f5e65;
    font-weight: 500;

}
div.white-box div.headline button.tracking {

    transform: scale(0.8);

}
#sidebar.hover + #app-screens::before {
    content: '';
    display: block;
    width: 81%;
    height: 50px;
    background-color: transparent;
    z-index: 999;
    position: relative;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}
}



/*
   770 Px
   ========================================================================== */
@media screen and (max-width: 870px) {
.wrapper {
   width: 550px;
}
body.compact div.white-box div.headline i.uicon-4 {
   display: none;
}
body.compact div#driver-pic img.profile {
   display: none;
}
div#driver-pic p {

    padding: 0;
    vertical-align: top;
    color: #4f5e65;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    text-align: center;

}
body.compact div#driver-pic img.car {

    width: 41%;
    transition: 0.3s;
    display: block;
    margin: 0 auto;

}
div#right-container div.white-box p {

    line-height: 1.6;
    width: 100%;

}
body.compact div#driver-pic {

    width: 100%;

}
body.compact div#speed-info {

    margin: 0px;
    vertical-align: middle;
    color: #4f5e65;
    text-align: center;
    float: none;
    width: 100%;

}
body.compact div#speed-info div.inl {

    margin: 0 19px;

}
body.compact div#right-container {

    width: 45%;

}
body.compact div#white-box-pop {

    transform: scale(1);
    transition: 0.3s;
    right: 1%;
    overflow-y: scroll;
    height: 100%;
    position: absolute;
    width: 39%;

}
body.compact #sidebar ul li:first-child::before,
body.compact #sidebar ul li:first-child::after {
   width: 28px;
}
#sidebar ul li:first-child::before,
#sidebar ul li:first-child::after {
   width: 28px;
}
div.white-box div.headline strong.title {

    vertical-align: middle;
    font-size: 19px;
    font-weight: 500;
    color: #4f5e65;

}
div.white-box div.headline select.inl {
   font-size: 13px;
   padding: 9px;
}
#sidebar.hover {

    width: 21%;
    z-index: 999;

}
div#driver-pic {

    margin: 0px;
    vertical-align: middle;
    text-align: center;
    width: 100%;

}
div#graphics-1 > div.bar-light {
   width: 50%;
}
body.compact div.white-box div.headline button.tracking .uicon-25 {

    transform: scale(0.6);
    transition: 0.3s;
    display: inline-block;
    margin: -17px 0px 0px;

}
#sidebar {

    width: 9%;

}
div#right-container {

    width: 84%;

}
body.compact #sidebar {

    width: 9%;

}
body.compact #sidebar.hover {

    width: 24%;
    z-index: 999;

}
body.compact div#right-container {

    width: 45%;
    left: 12%;

}
body.compact div.white-box div.headline select.inl {

    width: 100%;
    display: block;
    margin: 11px 0 0px 0px;

}
body.compact div.white-box div.headline button.tracking .uicon-25 {

    transform: scale(0.6);
    transition: 0.3s;
    display: inline-block;
    margin: -17px 0px 0px;
    position: absolute;
    top: 27px;
    right: 47px;

}
div.white-box div.headline button.tracking {

    transform: scale(0.8);
    position: absolute;
    top: 27px;
    right: 47px;

}
body.compact div.white-box div.headline button.tracking {

    transform: scale(0.8);
    position: absolute;
    top: -3px;
    right: -3px;

}
div#cars-overview div.car > div.inl:nth-child(1) {

    width: 100%;
    display: block;
    margin: 10px auto 9px;

}
#sidebar div.footer {
   display: none;
}
div#historial-box p > span.inl {

    font-size: 12px;

}
div.white-box div.headline button.tracking .inl {

    vertical-align: middle;
    font-size: 0px;

}
div#speed-info > i.inl {
   display: none;
}
#sidebar.hover + #app-screens::before {
    content: '';
    display: block;
    width: 73%;
    height: 50px;
    background-color: transparent;
    z-index: 999;
    position: relative;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}
}



/*
   600 Px
   ========================================================================== */
@media screen and (max-width: 600px) {
.wrapper {
   width: 380px;
}

body.compact section#content div.wrapper div#app-screens div#right-container div.white-box.left.inl.padding-2.cool-bg {
   display: none;
}
div#cars-overview div.car > div.inl:nth-child(5) {

    width: 10%;
    position: absolute;
    top: 10px;
    right: 30px;

}
div#right-container div.white-box.left, div#right-container div.white-box.right {

    display: inline-block;
    width: 100%;
    float: none;

}
div#right-container {

    width: 84%;
    padding-right: 14px;

}
#sidebar {

    width: 11%;

}
body.compact #sidebar.hover {

    width: 30%;
    z-index: 999;

}
div#speed-info div.inl {
    vertical-align: middle;
    margin: 0px 0;
}
#sidebar.hover + #app-screens::before {
    content: '';
    display: block;
    width: 54%;
    height: 50px;
    background-color: transparent;
    z-index: 999;
    position: relative;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
}
div.white-box.padding-2 {
    padding: 26px 22px;
}
}



/*
   420 Px
   ========================================================================== */
@media screen and (max-width: 520px) {
.wrapper {
   width: 280px;
}
#sidebar.hover {
    width: 38%;
    z-index: 999;
}
div.white-box div.headline select.inl {
    font-size: 13px;
    padding: 9px;
    width: 100%;
    margin: 16px 0px 0px 0px;
}
#sidebar {
    width: 12%;
}
div#right-container {
    width: 83%;
    padding-right: 6px;
}
div.white-box div.headline button.tracking {
    transform: scale(0.6);
    position: absolute;
    top: 0px;
    right: 11px;
}
div.white-box div.headline i.uicon-4 {
   display: none;
}
div#driver-pic img.car {
   max-width: 70%;
}
div#speed-info div.inl {
    vertical-align: middle;
    margin: 0px 0;
}
div#speed-info p strong {
    display: block;
    font-size: 43px;
}
body.compact div#right-container {
    width: 8%;
    left: 12%;
}
body.compact div.white-box div.headline button.tracking {
    transform: scale(0.8);
    position: absolute;
    top: -5px;
    right: -34px;
}
body.compact div#driver-pic {
   display: none;
}
body.compact div#speed-info {
   display: none;
}
body.compact div#white-box-pop {
    transform: scale(1);
    transition: 0.3s;
    right: 1%;
    overflow-y: scroll;
    height: 100%;
    position: absolute;
    width: 77%;
}
body.compact div#right-container div.white-box {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    box-shadow: none;
}
body.compact #sidebar {
    width: 12%;
}
#sidebar ul li:first-child::before, #sidebar ul li:first-child::after {
    width: 23px;
}
}
