
<div id="right-container">
	
	<div class="white-box cool-bg padding-1 full-heigh">
		<div class="headline">
			<strong class="inl title">
				Vehicle
			</strong>

			<select id="car-choose" name="car-choose" class="inl gradient">
				<option>- Choose a car -</option>
				<option selected>NISAN MICRA 223949</option>
			</select>
		</div><!--Headline-->

		<div id="alerts-grid">
			
			<button class="inl active">
				<i class="inl ub uicon-8"></i>
				<span>
					Speed
				</span>
			</button>
			
			<button class="inl">
				<i class="inl ub uicon-9"></i>
				<span>
					GEO
				</span>
			</button>
			
			<button class="inl">
				<i class="inl ub uicon-10"></i>
				<span>
					Battery
				</span>
			</button>
			
			<button class="inl">
				<i class="inl ub uicon-11"></i>
				<span>
					Accidents
				</span>
			</button>
			
			<button class="inl">
				<i class="inl ub uicon-12"></i>
				<span>
					Fuel
				</span>
			</button>
			
			<button class="inl">
				<i class="inl ub uicon-13"></i>
				<span>
					Rute
				</span>
			</button>
			
			<button class="inl">
				<i class="inl ub uicon-14"></i>
				<span>
					Engine
				</span>
			</button>
			
			<button class="inl">
				<i class="inl ub uicon-15"></i>
				<span>
					Driving
				</span>
			</button>
			
			<button class="inl">
				<i class="inl ub uicon-16"></i>
				<span>
					Parcked Time
				</span>
			</button>
			
			<button class="inl">
				<i class="inl ub uicon-17"></i>
				<span>
					Emergencies
				</span>
			</button>
			
			<button class="inl">
				<i class="inl ub uicon-18"></i>
				<span>
					Acceleration
				</span>
			</button>

		</div><!--Grid-->

	</div><!--Wite box-->

</div><!--Right container-->

<div id="white-box-pop" class="white-box right inl padding-1 pop full-heigh">
	<div class="headline">
		<strong class="inl title">
			History
		</strong>
	</div><!--Headline-->

	<div id="historial-box">
		<p>
			<span class="inl">
				110Km/h
			</span>
			<span class="inl">
				May / 06 / 2019
			</span>
		</p><!--Item-->
		
		<p>
			<span class="inl">
				110Km/h
			</span>
			<span class="inl">
				May / 06 / 2019
			</span>
		</p><!--Item-->
		
		<p>
			<span class="inl">
				110Km/h
			</span>
			<span class="inl">
				May / 06 / 2019
			</span>
		</p><!--Item-->
		
		<p>
			<span class="inl">
				110Km/h
			</span>
			<span class="inl">
				May / 06 / 2019
			</span>
		</p><!--Item-->
		
		<p>
			<span class="inl">
				110Km/h
			</span>
			<span class="inl">
				May / 06 / 2019
			</span>
		</p><!--Item-->
		
		<p>
			<span class="inl">
				110Km/h
			</span>
			<span class="inl">
				May / 06 / 2019
			</span>
		</p><!--Item-->
		
		<p>
			<span class="inl">
				110Km/h
			</span>
			<span class="inl">
				May / 06 / 2019
			</span>
		</p><!--Item-->
		
		<p>
			<span class="inl">
				110Km/h
			</span>
			<span class="inl">
				May / 06 / 2019
			</span>
		</p><!--Item-->
		
		<p>
			<span class="inl">
				110Km/h
			</span>
			<span class="inl">
				May / 06 / 2019
			</span>
		</p><!--Item-->
	</div><!--Historial box-->
</div>