<script type="text/javascript" src="js/flatpickr.js"></script>

<div id="right-container">
	
	<div class="white-box cool-bg padding-1">
		<div class="headline margin-1">
			<strong class="inl title">
				Historial of
			</strong>

			<select id="car-choose" name="car-choose" class="inl gradient">
				<option>- Choose a car -</option>
				<option selected>NISAN MICRA 223949</option>
			</select>

			<div class="date-picker">
				<input id="data-choose" type="hidden" name="data-choose" placeholder="Choose Date">
				<label for="data-choose">
					<i class="inl ub uicon-5"></i>
				</label>
			</div>
		</div><!--Headline-->

		<div id="driver-pic" class="inl">
			<img src="img/cars/1-1.jpg" class="inl car">
			<p class="inl">
				<span>Michael S.</span>
				<small>NISAN MICRA</small>
			</p>
		</div><!--Driver pics-->

		<div id="speed-info" class="inl">
			<div class="inl">
				<p>
					<em>Distance</em>
					<strong>124</strong>
					<small>Km</small>
				</p>
			</div>
			<i class="inl"></i>
			<div class="inl">
				<p>
					<em>Average speed</em>
					<strong>45</strong>
					<small>Km/h</small>
				</p>
			</div>
		</div><!--Speed info-->

		<div class="clear-box"></div>

	</div><!--Wite box-->

	<div class="white-box left inl padding-2 cool-bg">
		<h4>
			Driving
		</h4>

		<div id="graphics-1">
						
			<div class="inl circle-1">
				<span>Bad</span>
				<div class="icon">
					<i class="inl ub uicon-6"></i>
				</div>
			</div>

			<div class="inl bar-light good">
				<div class="inner-light inl"></div>
				<i class="inl ub uicon-19"></i>
			</div>
			
			<div class="inl circle-2">
				<span>Good</span>
				<div class="icon">
					<i class="inl ub uicon-6"></i>
				</div>
			</div>

			<p>
				Driving is <strong>good</strong>
			</p>

		</div><!--Graphics-->
	</div><!--Wite box-->

	<div class="white-box right inl padding-2">
		<h4>
			Summary
		</h4>
		<p>
			<strong>Last connection:</strong>
			Monday 06 / May / 2019
			<br>
			<strong>Average speed:</strong>
			45Km/h
			<br>
			<strong>Distance:</strong>
			3,504 KM
			<br>
			<strong>Vehicle battery:</strong>
			none
			<br>
			<strong>Device battery:</strong>
			100% (connected)
			<br>
		</p>
	</div><!--Wite box-->
	<i class="clear-box"></i>

</div><!--Right container-->

<div id="white-box-pop" class="white-box right inl padding-1 pop">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7859.622002989233!2d-84.15261316982674!3d9.949677599977635!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2scr!4v1557536027001!5m2!1ses!2scr" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>