<div id="right-container">
	
	<div class="white-box cool-bg">
		
		<div id="cars-overview">

			<div class="car">
				<div class="inl pic">
					<img src="img/cars/1.jpg" class="inl">
				</div><!--inl-->
				<div class="inl driver">
					<p>
						<span>
							Current Driver
						</span>
						<strong>
							Michael S.
						</strong>
						<small>
							NISAN MICRA
						</small>
					</p>
				</div><!--inl-->
				<div class="inl data-1">
					<p>
						<strong>Average speed:</strong> 45Km/h
						<br>
						<strong>Distance:</strong> 3,504 KM
					</p>
				</div><!--inl-->
				<div class="inl graph">
					<div id="graphics-1">
						
						<div class="inl circle-1">
							<span>Bad</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

						<div class="inl bar-light good">
							<div class="inner-light inl"></div>
							<i class="inl ub uicon-19"></i>
						</div>
						
						<div class="inl circle-2">
							<span>Good</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

					</div><!--Graphics-->
				</div><!--inl-->
				<div class="inl notifications">
					<i class="inl ub uicon-4">
						4
					</i>
				</div><!--inl-->
			</div><!--car-->

			<div class="car">
				<div class="inl pic">
					<img src="img/cars/2.jpg" class="inl">
				</div><!--inl-->
				<div class="inl driver">
					<p>
						<span>
							Current Driver
						</span>
						<strong>
							Michael S.
						</strong>
						<small>
							NISAN MICRA
						</small>
					</p>
				</div><!--inl-->
				<div class="inl data-1">
					<p>
						<strong>Average speed:</strong> 45Km/h
						<br>
						<strong>Distance:</strong> 3,504 KM
					</p>
				</div><!--inl-->
				<div class="inl graph">
					<div id="graphics-1">
						
						<div class="inl circle-1">
							<span>Bad</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

						<div class="inl bar-light middle">
							<div class="inner-light inl"></div>
							<i class="inl ub uicon-21"></i>
						</div>
						
						<div class="inl circle-2">
							<span>Good</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

					</div><!--Graphics-->
				</div><!--inl-->
				<div class="inl notifications">
					<i class="inl ub uicon-4">
						4
					</i>
				</div><!--inl-->
			</div><!--car-->

			<div class="car">
				<div class="inl pic">
					<img src="img/cars/3.jpg" class="inl">
				</div><!--inl-->
				<div class="inl driver">
					<p>
						<span>
							Current Driver
						</span>
						<strong>
							Michael S.
						</strong>
						<small>
							NISAN MICRA
						</small>
					</p>
				</div><!--inl-->
				<div class="inl data-1">
					<p>
						<strong>Average speed:</strong> 45Km/h
						<br>
						<strong>Distance:</strong> 3,504 KM
					</p>
				</div><!--inl-->
				<div class="inl graph">
					<div id="graphics-1">
						
						<div class="inl circle-1">
							<span>Bad</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

						<div class="inl bar-light good">
							<div class="inner-light inl"></div>
							<i class="inl ub uicon-19"></i>
						</div>
						
						<div class="inl circle-2">
							<span>Good</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

					</div><!--Graphics-->
				</div><!--inl-->
				<div class="inl notifications">
					<i class="inl ub uicon-4">
						4
					</i>
				</div><!--inl-->
			</div><!--car-->

			<div class="car">
				<div class="inl pic">
					<img src="img/cars/4.jpg" class="inl">
				</div><!--inl-->
				<div class="inl driver">
					<p>
						<span>
							Current Driver
						</span>
						<strong>
							Michael S.
						</strong>
						<small>
							NISAN MICRA
						</small>
					</p>
				</div><!--inl-->
				<div class="inl data-1">
					<p>
						<strong>Average speed:</strong> 45Km/h
						<br>
						<strong>Distance:</strong> 3,504 KM
					</p>
				</div><!--inl-->
				<div class="inl graph">
					<div id="graphics-1">
						
						<div class="inl circle-1">
							<span>Bad</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

						<div class="inl bar-light horrifying">
							<div class="inner-light inl"></div>
							<i class="inl ub uicon-22"></i>
						</div>
						
						<div class="inl circle-2">
							<span>Good</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

					</div><!--Graphics-->
				</div><!--inl-->
				<div class="inl notifications">
					<i class="inl ub uicon-4">
						4
					</i>
				</div><!--inl-->
			</div><!--car-->

			<div class="car">
				<div class="inl pic">
					<img src="img/cars/5.jpg" class="inl">
				</div><!--inl-->
				<div class="inl driver">
					<p>
						<span>
							Current Driver
						</span>
						<strong>
							Michael S.
						</strong>
						<small>
							NISAN MICRA
						</small>
					</p>
				</div><!--inl-->
				<div class="inl data-1">
					<p>
						<strong>Average speed:</strong> 45Km/h
						<br>
						<strong>Distance:</strong> 3,504 KM
					</p>
				</div><!--inl-->
				<div class="inl graph">
					<div id="graphics-1">
						
						<div class="inl circle-1">
							<span>Bad</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

						<div class="inl bar-light bad">
							<div class="inner-light inl"></div>
							<i class="inl ub uicon-20"></i>
						</div>
						
						<div class="inl circle-2">
							<span>Good</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

					</div><!--Graphics-->
				</div><!--inl-->
				<div class="inl notifications">
					<i class="inl ub uicon-4">
						4
					</i>
				</div><!--inl-->
			</div><!--car-->

			<div class="car">
				<div class="inl pic">
					<img src="img/cars/2.jpg" class="inl">
				</div><!--inl-->
				<div class="inl driver">
					<p>
						<span>
							Current Driver
						</span>
						<strong>
							Michael S.
						</strong>
						<small>
							NISAN MICRA
						</small>
					</p>
				</div><!--inl-->
				<div class="inl data-1">
					<p>
						<strong>Average speed:</strong> 45Km/h
						<br>
						<strong>Distance:</strong> 3,504 KM
					</p>
				</div><!--inl-->
				<div class="inl graph">
					<div id="graphics-1">
						
						<div class="inl circle-1">
							<span>Bad</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

						<div class="inl bar-light good">
							<div class="inner-light inl"></div>
							<i class="inl ub uicon-19"></i>
						</div>
						
						<div class="inl circle-2">
							<span>Good</span>
							<div class="icon">
								<i class="inl ub uicon-6"></i>
							</div>
						</div>

					</div><!--Graphics-->
				</div><!--inl-->
				<div class="inl notifications">
					<i class="inl ub uicon-4">
						4
					</i>
				</div><!--inl-->
			</div><!--car-->

		</div><!---All cars-->

	</div><!--Wite box-->

</div><!--Right container-->