/*!
* Design by: Hyper6.com
* URI: http://www.hyper6.com/
* Year: 2017
* Coder: v28 , Chris
*
* timestamp: 11th - 08 - 2017
*/

/*!
* Normalize
*/
html{line-height: 1.15;-webkit-text-size-adjust: 100%;}body{margin: 0;}h1{font-size: 2em;margin: 0.67em 0;}hr{box-sizing: content-box;height: 0;overflow: visible;}pre{font-family: monospace, monospace;font-size: 1em;}a{background-color: transparent;}abbr[title]{border-bottom: none;text-decoration: underline;text-decoration: underline dotted;}b,strong{font-weight: bolder;}code,kbd,samp{font-family: monospace, monospace;font-size: 1em;}small{font-size: 80%;}sub,sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}sub{bottom: -0.25em;}sup{top: -0.5em;}img{border-style: none;}button,input,optgroup,select,textarea{font-family: inherit;font-size: 100%;line-height: 1.15;margin: 0;}button,input{overflow: visible;}button,select{text-transform: none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style: none;padding: 0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline: 1px dotted ButtonText;}fieldset{padding: 0.35em 0.75em 0.625em;}legend{box-sizing: border-box;color: inherit;display: table;max-width: 100%;padding: 0;white-space: normal;}progress{vertical-align: baseline;}textarea{overflow: auto;}[type="checkbox"],[type="radio"]{box-sizing: border-box;padding: 0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height: auto;}[type="search"]{-webkit-appearance: textfield;outline-offset: -2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}::-webkit-file-upload-button{-webkit-appearance: button;font: inherit;}details{display: block;}summary{display: list-item;}template{display: none;}[hidden]{display: none;}


/*! ==========================================================================
   CUSTOM CSS BEGINNING
*/

/* ==========================================================================
   Old alert
   ========================================================================== */
div.alert-old {
   text-align: center;
   padding: 25px;
   font-size: 20px;
   color: #777;
   background-color: black;
   color: #f0f0f0;
   position: relative;
   top: 0px;
   left: 0px;
   width: 100%;
   z-index: 9999999;
}
div.alert-old a {
   color: white;
   text-decoration: underline;
   font-weight: bold;
}
div.alert-old a:hover {
   color: orange;
}



/* ==========================================================================
   General CSS
   ========================================================================== */
body {
   cursor: default;
   font-family: 'Open Sans', sans-serif;
}
::selection {
   background: #0054ff;
   color: white;
}
::-webkit-selection {
   background: #0054ff;
   color: white;
}
::-khtml-selection {
   background: #0054ff;
   color: white;
}
::-moz-selection {
   background: #0054ff;
   color: white;
}
::-wap-selection {
   background: #0054ff;
   color: white;
}
::-ms-selection {
   background: #0054ff;
   color: white;
}
::-o-selection {
   background: #0054ff;
   color: white;
}
.wrapper {
   display: block;
   margin: 0 auto;
   width: 70%;
}
.inl {
   display: inline-block;
   vertical-align: top;
   * display: inline;
   zoom: 1;
}
a,
input,
button,
select,
textarea {
   border: none;
   outline: none;
   background-color: transparent;
}
input[type=text],
input[type=password],
input[type=email],
input[type=tel],
input[type=search],
select,
textarea {
   box-sizing: border-box;
   appearance: none;
}
.cta {
   text-decoration: none;
   color: white;
   text-transform: uppercase;
   background-color: transparent;
   border: 1px solid white;
   padding: 11px 44px;
   font-size: 19px;
   border-radius: 5px;
   position: relative;
   overflow: hidden;
   cursor: pointer;
}
.cta:hover {
   background-color: rgba(255,255,255,0.2);
}
.cta:before {
   content: '';
   display: block;
   position: absolute;
   left: 0px;
   bottom: 0px;
   width: 100%;
   height: 100%;
   z-index: 5;

   animation-name: refelction;
   animation-duration: 1s;
   animation-iteration-count: infinite;

   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,0+0,1+100 */
   background: -moz-linear-gradient(-45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(-45deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(135deg, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



/* ==========================================================================
   Header
   ========================================================================== */
header {
   display: block;
   margin: 0px;
   padding: 40px 0px;
}
header:after {
   content: '';
   display: block;
   width: 100%;
   clear: both;
}
header a.logo {
   float: left;
   text-decoration: none;
   color: white;
}
header nav {
   float: right;
}
header nav ul {
   display: block;
   margin: 0px;
   padding: 0px;
}
header nav ul li {
   display: inline-block;
   vertical-align: middle;
   margin-left: 25px;
}
header nav ul li a {
   text-decoration: none;
   color: white;
   font-size: 27px;
}



/* ==========================================================================
   Coming soon
   ========================================================================== */
section#coming-soon {
   display: block;
   margin: 0px;
   position: fixed;
   left: 0px;
   top: 0px;
   width: 100%;
   height: 100%;
   line-height: 1.6;

    background: rgb(255,135,135);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZjg3ODciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZTA0MTQxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,135,135,1) 0%, rgba(224,65,65,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,135,135,1)), color-stop(100%,rgba(224,65,65,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,135,135,1) 0%,rgba(224,65,65,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,135,135,1) 0%,rgba(224,65,65,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,135,135,1) 0%,rgba(224,65,65,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,135,135,1) 0%,rgba(224,65,65,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8787', endColorstr='#e04141',GradientType=1 );
}
section#coming-soon div.wrapper {
   position: relative;
   z-index: 20;
}
section#coming-soon div.wrapper:after {
   content: '';
   display: block;
   width: 100%;
   clear: both;
}
section#coming-soon div.wrapper > div.left {
   display: block;
   float: left;
   width: 40%;
   box-sizing: border-box;
   text-align: right;
   color: white;
   padding: 50px 0px;
}
section#coming-soon div.wrapper > div.right {
   display: block;
   float: right;
   width: 60%;
   box-sizing: border-box;
   padding: 50px 0px;
}
section#coming-soon h1 {
   font-size: 45px;
   margin: 0px;
}
section#coming-soon p.caption1 {
   font-size: 30px;
   font-weight: 300;
   margin: 0px;
}
section#coming-soon div.bottom {
   display: block;
   margin: 0px;
   text-align: center;
   position: fixed;
   bottom: 15px;
   left: 0px;
   width: 100%;
   color: white;
   font-size: 14px;
}
section#coming-soon i.fa-bolt {
   color: white;
   position: relative;
   margin: 2px -11px 0px 13px;
}
@keyframes iconanimation {
  0% {top: 0px;}
  50% {top: 20px;}
  100% {top: 0px;}
}
@keyframes refelction {
  0% {height: 0%; opacity: 0.6;}
  100% {height: 100%; opacity: 0;}
}
section#coming-soon div.wrapper > div.right form {
   display: block;
   margin: 0px;
   padding-left: 60px;
}
section#coming-soon div.wrapper > div.right form input[type=text] {
   display: block;
   margin: 12px 0px;
   width: 100%;
   box-sizing: border-box;
   font-size: 20px;
   background-color: rgba(255,255,255,0.9);
   padding: 19px 21px;
   border-radius: 9px;
}



/* ==========================================================================
   Responsive CSS
   ========================================================================== */
@media screen and (max-width: 1024px) {
.wrapper {
   width: 700px;
}
}



/*
   770 Px
   ========================================================================== */
@media screen and (max-width: 770px) {
.wrapper {
   width: 550px;
}
section#coming-soon {
   overflow-y: scroll;
}
}



/*
   600 Px
   ========================================================================== */
@media screen and (max-width: 600px) {
.wrapper {
   width: 380px;
}
section#coming-soon div.wrapper > div.left {
    display: block;
    float: left;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    color: white;
    padding: 14px 0px;
}
section#coming-soon div.wrapper > div.right {

    display: block;
    float: right;
    width: 100%;
    box-sizing: border-box;
    padding: 50px 0px;
    text-align: center;
    margin-bottom: 200px;

}
section#coming-soon div.wrapper > div.right form {

    display: block;
    margin: 0px;
    padding-left: 0;

}
}



/*
   420 Px
   ========================================================================== */
@media screen and (max-width: 420px) {
.wrapper {
   width: 280px;
}
header a.logo {
    float: none;
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
}
header a.logo img {
    width: 68px;
}
section#coming-soon h1 {
    font-size: 28px;
    margin: 0px;
}
section#coming-soon p.caption1 {
    font-size: 21px;
    font-weight: 300;
    margin: 0px;
}
header nav {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
    margin: 22px 0px 0px 0px;
}

section#coming-soon div.wrapper > div.left {
   text-align: center;
}
}
